<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../static/css/bookstyle.css">
    <title>Document</title>
</head>
<body  class = "booking">
         <div class="row">
             <h1 class = "text-center">Welcome {{data.name}} to Your Profile</h1>
           
            <div class="col-sm-3">
        
        <div>
            <button class = "btn btn-primary" ><a href = "./booking" style = "text-decoration :none ; color : white">Book a CAB!!</a></button>
        </div>
        
    </div>
<table class="table table-striped mt-3">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone No</th>
            <th>Password</th>
            <th>Age</th>
            <th>Country</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
        <tr>

            <td>{{data.id}}</td>
            <td>{{data.name}}</td>
            <td>{{data.email}}</td>
            <td>{{data.phone}}</td>
            <td>{{data.password}}</td>
            <td>{{data.age}}</td>
            <td>{{data.country}}</td>
             <td>
                <a href="/update/{{data.id}}">Edit</a>  </td>
                <td><a href="/delete/{{data.id}}" class="text-danger" onclick="return confirm('Are you sure you want to delete this')">Delete</a>
                </td>
            
           
        </tr>
      
    </table>
    <div>
        <a href = ""
    </div>
   
</div>

<script>

    
</script>
</body>
</html>