<h1 class="text-center">Users</h1>

<div class="container">
    <table class="table table-striped mt-4">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone No</th>
            <th>Password</th>
            <th>Age</th>
            <th>Country</th>
            <th>Edit</th>
            <th>Delete</th>

        </tr>
        {{#each data}}
        <tr>
            <td>{{this.dataValues.id}}</td>
            <td>{{this.dataValues.name}}</td>
            <td>{{this.dataValues.email}}</td>
            <td>{{this.dataValues.phone}}</td>
            <td>{{this.dataValues.password}}</td>
            <td>{{this.dataValues.age}}</td>
            <td>{{this.dataValues.country}}</td>
            <td>
                <a href="/update/{{this.dataValues.id}}">Edit</a> | </td>
                <td><a href="/delete/{{this.dataValues.id}}" class="text-danger" onclick="return confirm('Are you sure you want to delete this')">Delete</a>
                </td>
           
        </tr>
        {{/each}}
    </table>
</div>